@tailwind base;
@tailwind components;
@tailwind utilities;


.heart {
  width: 20px;
  height: 20px;
  background: red;
  position: fixed;
  top: -20px;
  transform: rotate(45deg);
  animation: fall linear forwards;
}

.heart::before,
.heart::after {
  content: '';
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  border-radius: 50%;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  left: -10px;
  top: 0;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(45deg);
    opacity: 0;
  }
}
